<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="font-family: Arial, Helvetica, sans-serif; background-color: #eee; padding: 3em; max-width:550px;">
        <div style="text-align: center;">
            <div style="background-color: white; border-radius: 5px; font-size: 16px;">
                <div style="height: 56px; background-color: #f41f4e; padding:0.5em; text-align: center; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                    <img src="https://i.postimg.cc/L8gd5SBt/logo-45h.png" style="padding-top: 7px;"/>
                </div>
                <div style="padding: 4%; overflow:auto; color: #777;">
                    <h1 style="margin: 0.2em 0em 0.5em 0em; font-weight: bold; color: #333">Welcome to Talgo</h1>
                    <p style="padding: 0px 2em;">
                        You're almost ready to start using Talgo to boost your
                        app to the next level. Use the code below to verify your email address.
                    </p>
                    <p style="padding: 0em; color: black; font-weight: bold; font-size: 22px; text-align: center;">
                        {{it.verification_code}}
                    </p>
                    <div style="font-size: 14px;">
                        <hr style="width: 10%;border:0;margin:0px auth;width:10%;height:2px;background:#ddd;">
                        <p style="color: #aaa; font-style: italic; margin-top: 2.5em;">If you did not request this email, you can safely delete it.</p>
                    </div>
                    
                </div>
            </div>
            <p style="color: #888; font-size: 14px;">
                &copy; 2023 Talgo Cloud LLC. All rights reserved.
            </p>
        </div>
    </div>
</body>
</html>