<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; ">
    <div style="height: 56px; background-color: #f41f4e; padding:0.5em;">
        <!-- <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: white; padding-left: 1em; padding-top: 8px; margin:0px;">talgo</h1> -->
        <img src="../assets/logo.png" style="height: 60px; padding-left: 2em;"/>
    </div>
    <div style="max-width: 600px; padding-left: 2em; overflow:auto; ">
        <h1>Welcome to Talgo!</h1>
        <p>
            This is the contents of a test email sent to welcome you to our
            service. Even though there is no actually valuable information
            here, we hope you still like the message.
        </p>
        <button style="background-color: #f41f4e; border: none; border-radius: 5px; padding: 1em; color: white; font-style: bold; font-weight: bold; font-size: 16px;" style:hover="">Click Me!</button>
        <p>
            Or if that doesn't work, copy and paste this link into your 
            browser:
        </p>
        <a style="word-wrap: break-word;" href="https://gosuimg.com/accounts/verify?token=VGhpcyBpcyBhIHJlYWxseSBjb29sIHN0cmluZw.V293LCBhbm90aGVyIHN0cmluZz8/IFdlIGFyZSBlYXRpbmcgZ29vZCB0b25pZ2h0IQ.QW5kIG9uZSBmaW5hbCBzdHJpbmcu">
            https://accounts.talgo.cc/verify?token=VGhpcyBpcyBhIHJlYWxseSBjb29sIHN0cmluZw.V293LCBhbm90aGVyIHN0cmluZz8/IFdlIGFyZSBlYXRpbmcgZ29vZCB0b25pZ2h0IQ.QW5kIG9uZSBmaW5hbCBzdHJpbmcu
        </a>
        <p>
            After clicking that button, absolutely nothing will happen.
            The only thing that happens when you click that button 
            is the small amount of dopamine that gets sent straight into 
            your amygdala when you click buttons. Enjoy the service!
        </p>
        <hr>
        <p style="color: #888; font-size: 14px;">
            &copy; 2023 Talgo Cloud LLC <br>
            If you hate us and never want to talk to us again, <a href="/unsubscribe">unsubscribe</a>. <br>
        </p>
    </div>
</body>
<style>
    button:hover {
        cursor: pointer;
    }
</style>
</html>

<p style="padding: 0px 2em;">
    You're almost ready to start using Talgo to boost your
    app to the next level. Use the code below to verify your email address.
</p>
<p style="padding: 1em; color: black; font-weight: bold; font-size: 22px; text-align: center;">
    {{it.verification_code}}
</p>